In [69]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense,Activation
from keras.utils.np_utils import to_categorical

In [70]:
df=pd.read_csv('/content/archive (8).zip',header=None,)
df.columns=['Buying_Price','Maintenance_cost','No of Doors','No. of Person','Lug_boot','Safety','Decision']
df.head()

,Buying_Price,Maintenance_cost,No of Doors,No. of Person,Lug_boot,Safety,Decision
0,vhigh,vhigh,2,2,small,low,unacc
1,vhigh,vhigh,2,2,small,med,unacc
2,vhigh,vhigh,2,2,small,high,unacc
3,vhigh,vhigh,2,2,med,low,unacc
4,vhigh,vhigh,2,2,med,med,unacc

In [71]:
df.isna().sum()

Buying_Price        0
Maintenance_cost    0
No of Doors         0
No. of Person       0
Lug_boot            0
Safety              0
Decision            0
dtype: int64

In [72]:
df.dtypes

Buying_Price        object
Maintenance_cost    object
No of Doors         object
No. of Person       object
Lug_boot            object
Safety              object
Decision            object
dtype: object

In [73]:
df['Buying_Price'].value_counts()

vhigh    432
high     432
med      432
low      432
Name: Buying_Price, dtype: int64

In [74]:
df['Maintenance_cost'].value_counts()

vhigh    432
high     432
med      432
low      432
Name: Maintenance_cost, dtype: int64

In [75]:
df['No of Doors'].value_counts()

2        432
3        432
4        432
5more    432
Name: No of Doors, dtype: int64

In [76]:
df['Lug_boot'].value_counts()

small    576
med      576
big      576
Name: Lug_boot, dtype: int64

In [77]:
df['Safety'].value_counts()

low     576
med     576
high    576
Name: Safety, dtype: int64

In [78]:
df['Decision'].value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: Decision, dtype: int64

In [79]:
le=LabelEncoder()
df['Buying_Price']=le.fit_transform(df['Buying_Price'])
df['Maintenance_cost']=le.fit_transform(df['Maintenance_cost'])
df['Lug_boot']=le.fit_transform(df['Lug_boot'])
df['Safety']=le.fit_transform(df['Safety'])
df['No. of Person']=le.fit_transform(df['No. of Person'])
df['No of Doors']=le.fit_transform(df['No of Doors'])
df['Decision']=le.fit_transform(df['Decision'])

In [80]:
df.corr()

,Buying_Price,Maintenance_cost,No of Doors,No. of Person,Lug_boot,Safety,Decision
Buying_Price,1.000000e+00,-3.436808e-16,-2.097088e-16,-4.089152e-17,-1.691262e-16,-2.439415e-16,0.051424
Maintenance_cost,-3.436808e-16,1.000000e+00,-6.466021e-17,-4.272143e-17,-1.549092e-16,-1.404810e-16,0.040194
No of Doors,-2.097088e-16,-6.466021e-17,1.000000e+00,1.956599e-17,-1.942523e-17,1.062757e-16,-0.031327
No. of Person,-4.089152e-17,-4.272143e-17,1.956599e-17,1.000000e+00,3.854941e-18,3.392348e-17,-0.299468
Lug_boot,-1.691262e-16,-1.549092e-16,-1.942523e-17,3.854941e-18,1.000000e+00,-1.541976e-17,0.033184
Safety,-2.439415e-16,-1.404810e-16,1.062757e-16,3.392348e-17,-1.541976e-17,1.000000e+00,-0.021044
Decision,5.142422e-02,4.019365e-02,-3.132740e-02,-2.994683e-01,3.318432e-02,-2.104372e-02,1.000000

In [81]:
X=df.iloc[:,:-1]
X.head()

,Buying_Price,Maintenance_cost,No of Doors,No. of Person,Lug_boot,Safety
0,3,3,0,0,2,1
1,3,3,0,0,2,2
2,3,3,0,0,2,0
3,3,3,0,0,1,1
4,3,3,0,0,1,2

In [82]:
y=df.iloc[:,-1]
y.head()

0    2
1    2
2    2
3    2
4    2
Name: Decision, dtype: int64

In [83]:
df.dtypes

Buying_Price        int64
Maintenance_cost    int64
No of Doors         int64
No. of Person       int64
Lug_boot            int64
Safety              int64
Decision            int64
dtype: object

In [84]:
y=to_categorical(y)
y

array([[0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       ...,
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.]], dtype=float32)

In [85]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=24)
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((1209, 6), (519, 6), (1209, 4), (519, 4))

In [86]:
model=Sequential()
model.add(Dense(6,activation='relu'))
model.add(Dense(12,activation='relu'))
model.add(Dense(8,activation='relu'))
model.add(Dense(4,activation='relu'))
model.add(Dense(4,activation='softmax'))

In [87]:
model.compile(optimizer='adam',loss='categorical_crossentropy',metrics=['accuracy'])

In [88]:
model.fit(X_train,y_train,batch_size=12,epochs=40)

Epoch 1/40
101/101 [==============================] - 1s 2ms/step - loss: 1.3572 - accuracy: 0.5070
Epoch 2/40
101/101 [==============================] - 0s 2ms/step - loss: 1.1684 - accuracy: 0.7055
Epoch 3/40
101/101 [==============================] - 0s 2ms/step - loss: 0.8328 - accuracy: 0.7055
Epoch 4/40
101/101 [==============================] - 0s 2ms/step - loss: 0.7784 - accuracy: 0.7055
Epoch 5/40
101/101 [==============================] - 0s 2ms/step - loss: 0.7586 - accuracy: 0.7055
Epoch 6/40
101/101 [==============================] - 0s 2ms/step - loss: 0.7362 - accuracy: 0.7055
Epoch 7/40
101/101 [==============================] - 0s 2ms/step - loss: 0.7201 - accuracy: 0.7055
Epoch 8/40
101/101 [==============================] - 0s 2ms/step - loss: 0.7068 - accuracy: 0.7055
Epoch 9/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6940 - accuracy: 0.7122
Epoch 10/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6823 - accuracy: 0.7188
Epoch 11/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6721 - accuracy: 0.7270
Epoch 12/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6633 - accuracy: 0.7163
Epoch 13/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6535 - accuracy: 0.7188
Epoch 14/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6434 - accuracy: 0.7155
Epoch 15/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6355 - accuracy: 0.7196
Epoch 16/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6291 - accuracy: 0.7138
Epoch 17/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6260 - accuracy: 0.7105
Epoch 18/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6207 - accuracy: 0.7138
Epoch 19/40
101/101 [==============================] - 0s 4ms/step - loss: 0.6178 - accuracy: 0.7188
Epoch 20/40
101/101 [==============================] - 0s 3ms/step - loss: 0.6140 - accuracy: 0.7138
Epoch 21/40
101/101 [==============================] - 0s 2ms/step - loss: 0.6100 - accuracy: 0.7188
Epoch 22/40
101/101 [==============================] - 0s 2ms/step - loss: 0.6088 - accuracy: 0.7229
Epoch 23/40
101/101 [==============================] - 0s 2ms/step - loss: 0.6056 - accuracy: 0.7229
Epoch 24/40
101/101 [==============================] - 0s 2ms/step - loss: 0.6025 - accuracy: 0.7188
Epoch 25/40
101/101 [==============================] - 0s 2ms/step - loss: 0.6004 - accuracy: 0.7229
Epoch 26/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5989 - accuracy: 0.7270
Epoch 27/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5969 - accuracy: 0.7171
Epoch 28/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5920 - accuracy: 0.7295
Epoch 29/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5897 - accuracy: 0.7262
Epoch 30/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5861 - accuracy: 0.7270
Epoch 31/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5826 - accuracy: 0.7353
Epoch 32/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5784 - accuracy: 0.7469
Epoch 33/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5716 - accuracy: 0.7469
Epoch 34/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5620 - accuracy: 0.7461
Epoch 35/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5540 - accuracy: 0.7618
Epoch 36/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5414 - accuracy: 0.7734
Epoch 37/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5291 - accuracy: 0.7841
Epoch 38/40
101/101 [==============================] - 0s 2ms/step - loss: 0.5132 - accuracy: 0.8007
Epoch 39/40
101/101 [==============================] - 0s 2ms/step - loss: 0.4942 - accuracy: 0.8156
Epoch 40/40
101/101 [==============================] - 0s 2ms/step - loss: 0.4699 - accuracy: 0.8280

In [89]:
loss,acc=model.evaluate(X_test,y_test)
print(acc)
print(loss)

17/17 [==============================] - 0s 2ms/step - loss: 0.5302 - accuracy: 0.7881
0.7880539298057556
0.5302214026451111